<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<style>
        {css}
	</style>

	<title>{title}</title>
</head>

<body>
    <div class="controls">
        <a href="/{back}">📁 Back</a>
    </div>
	<div class="content">
		{content}
	</div>
</body>

</html>